/* global.css
 * shared styles across all components
 */


/* tailwind import */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* global styles */
:root {
  /* backgrounds & colors */
  --rgb-primary-bg: 251, 250, 249;
  --rgb-primary-color: 39, 39, 42;
  --rgb-blue: 48, 89, 186;
  --rgb-gold: 219, 171, 4;
  --rgb-gray-light: 170, 170, 170;
  --rgb-gray-medium: 122, 122, 122;
  --rgb-gray-semidark: 98, 98, 98;
  --rgb-gray-dark: 50, 50, 50;
  --rgb-black: 15, 15, 15;

  /* backgrounds and colors */
  --color-background-primary: rgb(var(--rgb-primary-bg));
  --color-background-nav: rgba(var(--rgb-primary-bg), 0.75);
  --color-background-white: #ffffffaa;
  --color-text: rgb(var(--rgb-primary-color));
  --color-blue: rgb(var(--rgb-blue));
  --color-disabled: rgb(var(--rgb-gray-light));
  --color-boxshadow-primary: rgba(var(--rgb-gray-medium), 0.25);
  --color-boxshadow-hover: rgba(var(--rgb-gray-dark), 0.4);

  /* navigation */
  --nav-height-header: 147;
  --nav-height-bar: 60px;
  --nav-blur: blur(8px);
  --nav-border: 0.5px solid rgba(var(--rgb-gray-light), 0.15);
  --nav-radius: 25;
  --nav-border-radius: calc(var(--nav-radius) * 1px);
  --nav-my: calc(var(--nav-radius) * 1px);
  --nav-mx: calc(var(--nav-radius) * 1px);

  img {
    object-fit: cover;
  }
}


:root {
  font-size: 16px;
  line-height: 1.25;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */

  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  .horizontal-list::-webkit-scrollbar {
    display: none;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background-primary);
  color: var(--color-primary);
}

html,
#root {
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


@media (max-width: 768px) {
  :root {
    --nav-mx: 15px;
  }
}