/* Flex display setup */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto 1em;
    width: calc(100% - 2em);
    margin-bottom: 7.5em;
}

.image-gallery-col3 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin: .5em;
    gap: .75em;
}

.image-gallery-header {
    text-align: center;
    width: 100%;
    margin-bottom: .5em;
    font-size: 1.1em;
    font-style: italic;
}

.image-container {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 240px;
    max-height: 420px;
}

.hover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

.image-container:hover .hover-image {
    filter: brightness(60%); /* Darkens the image */
}

.hover-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevents interaction with the text box */
}

.hover-text h3 {
    font-size: 1.25em;
    font-weight: 400;
}

.hover-text p {
    font-size: 0.8em;
    color: #ffffffcc;
}

.image-container:hover .hover-text {
    opacity: 1;
}

@media (max-width: 768px) {
    .image-gallery {
        margin: auto 2em;
        width: calc(100% - 4em);
    }

    .flex-column {
      flex: 1 1 100%;  /* Each column takes up full width (1 column layout) */
      width: 100%;
      margin-top: 2em;
      margin-bottom: 1rem; /* Optional: Add space between columns */
    }

    .image-container {
        min-height: 200px;
        max-height: 300px;
    }
  }


/* Page level galleries */
.gallery-container {
    margin: auto 5em;
}

.display-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-shrink: 0;
    margin: 1.5em 5em;
}

.gallery-image-wrapper {
    margin-bottom: 2.75em;
    margin-right: 2em; 
}

.img-vertical {
    height: 50vh;
}

.img-horizontal {
    height: 50vh;
}

img.gallery-image  {
    display: block;
    object-fit: cover;
    height: 100%;
    width: auto;
    flex-shrink: 0;
    border-radius: 12px / 16px;
}

.gallery-caption {
    font-size: .9em;
    font-style: italic;
    overflow-wrap: break-word;
}

.gallery-caption-meta, .gallery-caption-location {
    font-size: 0.7em;
    font-family: 'Courier New';
}

.gallery-caption-meta:before {
    content: '📸 ';
}

.gallery-caption-location:before {
    content: '📍 ';
}


.gallery-title {
    font-size: 1.1em;
}

.gallery-subtitle {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0;
}


@media (max-width: 768px) {
    .gallery-container {
        margin: auto 2.5em;
    }

    .display-gallery {
        margin: 1.5em 2.5em 10em 2.5em;
    }

    .flex-column {
      flex: 1 1 100%;  /* Each column takes up full width (1 column layout) */
      width: 100%;
      margin-top: 2em;
      margin-bottom: 1rem; /* Optional: Add space between columns */
    }

    .image-container {
        min-height: 200px;
        max-height: 300px;
    }

    .gallery-image-wrapper {
        margin-bottom: 2.25em;
    }

    .img-vertical {
        height: 55vh;
    }
    
    .img-horizontal {
        max-height: 25vh;
        border-radius: 12px / 16px;
    }

    .img-horizontal img {
        height: 100%;
        border-radius: 12px / 16px;
    }
  }
