/* app-container – size of entire web app and responsive design */
.app {
  --app-mt: 90px;
  --app-mb: 120px;
  --app-mx: 8%;
  margin: var(--app-mt) var(--app-mx);
  margin-bottom: var(--app-mb);
}

.app.app--text {
  position: absolute;
  top: calc((var(--nav-height-header) + 12) * 1px);
  padding-bottom: var(--app-mt);
}

@media (max-width: 1200px) {
  .app {
    --app-mx: 7%;
  }
}

@media (max-width: 768px) {
  .app {
    --app-mx: 6%;
  }
}