


.photoCard {
    width: 240px;
    height: 320px;
    box-shadow: 
    1px 2px 2px var(--color-boxshadow-primary),
    -1px -1px 2px var(--color-boxshadow-primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    flex-direction: column;
}

.photoCard > img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}