.photoGallery__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoGallery_tags {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    row-gap: 5px;
}