.photoCard {
    /* width: 300px;
    height: 450px; */
    width: 32%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    flex-direction: column;
    flex: 1 1 300px;
    max-width: 360px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    * {
        transition: 0.5s ease;
    }
}

@media (max-width: 576px) {
    .photoCard {
        flex: 1 1 160px;
        max-width: 90%;
        margin: auto;
    }
}

.photoCard--boxshadow {
    box-shadow:
        1px 2px 2px var(--color-boxshadow-primary),
        -1px -1px 2px var(--color-boxshadow-primary);
}

/* Image display */
.photoCard__img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.photoCard__img--v {
    aspect-ratio: 4 / 5;
}

.photoCard__img--h {
    aspect-ratio: 16 / 9;
}


/* Image text overlay */
.photoCard__overlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 25px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 80%, transparent 100%);
    border-radius: 0 0 5px 5px;
    width: 100%;
    /* backdrop-filter: var(--nav-blur); */
}

.photoCard__overlay_title {
    font-size: 20px;

}

.photoCard__overlay_subtitle {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.75;
}

.photoCard__overlay_caption {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: var(--font-sans-primary);
    font-style: italic;
    color: var(--color-background-nav);
    font-size: 13px;
}

.photoCard__overlay_datetime {
    font-family: var(--font-sans-secondary);
    font-size: 11px;
    color: var(--color-background-nav);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;

    margin-top: 10px;

    i {
        display: inline-block;
        margin-right: 5px;
    }
}


/* Overlay animation */
.photoCard:hover {
    .photoCard__img img {
        transform: scale(1.03);
        filter: brightness(0.9);
    }

    .photoCard__overlay {
        opacity: 1;
        color: white;
    }

}